<!doctype html>
<html lang="vi"
      layout:decorate="_layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
>
<head th:replace="_layout :: head(type='tag')">
    <title></title>
</head>

<body>
<div class="main-wrapper" layout:fragment="main_body">
    <!-- Page Banner Start -->
    <div class="section page-banner-section bg-color-1">

        <img alt="shape" class="shape-1" th:src="@{/images/shape/shape-5.png}">
        <img alt="shape" class="shape-2" th:src="@{/images/shape/shape-6.png}">
        <img alt="shape" class="shape-3" th:src="@{/images/shape/shape-7.png}">

        <img alt="shape" class="shape-4" th:src="@{/images/shape/shape-21.png}">
        <img alt="shape" class="shape-5" th:src="@{/images/shape/shape-21.png}">

        <div class="container">
            <!-- Page Banner Content Start -->
            <div class="page-banner-content">
                <h2 class="title">Course List</h2>
                <ul class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Course</li>
                </ul>
            </div>
            <!-- Page Banner Content End -->
        </div>
    </div>
    <!-- Page Banner End -->

    <!-- Course List Start -->
    <div class="section section-padding">
        <div class="container">

            <!-- Course List Wrapper Start -->
            <div class="course-list-wrapper">
                <div class="row">
                    <div class="col-lg-9">

                        <!-- Course Top Bar Start -->
                        <div class="course-top-bar">
                            <div class="course-top-text">
                                <p>We found <span>[[${totalItems}]]</span> Courses For You</p>
                            </div>
                            <div class="course-top-inner">
                                <ul class="course-top-menu">
                                    <span class="label">View</span>
                                    <ul class="nav">
                                        <li>
                                            <button class="active" data-bs-target="#grid" data-bs-toggle="tab"><i
                                                    class="fa fa-th-large"></i></button>
                                        </li>
                                        <li>
                                            <button data-bs-target="#list" data-bs-toggle="tab"><i
                                                    class="fa fa-th-list"></i></button>
                                        </li>
                                    </ul>
                                </ul>
                                <div class="course-collapse-btn">
                                    <button class="btn collapsed" data-bs-target="#collapseFilters"
                                            data-bs-toggle="collapse">
                                        <i class="fa fa-filter"></i>
                                        Filters
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Course Top Bar End -->

                        <!-- Course Collapse Start -->
                        <div class="collapse" id="collapseFilters">
                            <div class="course-collapse">
                                <div class="row">
                                    <div class="col-md-3">
                                        <!-- Sidebar Wrapper Start -->
                                        <div class="sidebar-widget-02">
                                            <h3 class="widget-title">Type of Courses</h3>

                                            <div class="widget-checkbox">
                                                <ul class="checkbox-list">
                                                    <li class="form-check">
                                                        <input class="form-check-input" id="checkbox1" type="checkbox"
                                                               value="">
                                                        <label class="form-check-label" for="checkbox1">Free
                                                            (11)</label>
                                                    </li>
                                                    <li class="form-check">
                                                        <input class="form-check-input" id="checkbox2" type="checkbox"
                                                               value="">
                                                        <label class="form-check-label" for="checkbox2">Paid
                                                            (11)</label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Sidebar Wrapper End -->
                                    </div>
                                    <div class="col-md-3">
                                        <!-- Sidebar Wrapper Start -->
                                        <div class="sidebar-widget-02">
                                            <h3 class="widget-title">Categories</h3>

                                            <div class="widget-checkbox">
                                                <ul class="checkbox-list">
                                                    <li class="form-check">
                                                        <input class="form-check-input" id="checkbox3" type="checkbox"
                                                               value="">
                                                        <label class="form-check-label" for="checkbox3">Technology
                                                            (11)</label>
                                                    </li>
                                                    <li class="form-check">
                                                        <input class="form-check-input" id="checkbox4" type="checkbox"
                                                               value="">
                                                        <label class="form-check-label" for="checkbox4">Business
                                                            (07)</label>
                                                    </li>
                                                    <li class="form-check">
                                                        <input class="form-check-input" id="checkbox5" type="checkbox"
                                                               value="">
                                                        <label class="form-check-label" for="checkbox5">Development
                                                            (11)</label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Sidebar Wrapper End -->
                                    </div>
                                    <div class="col-md-3">
                                        <!-- Sidebar Wrapper Start -->
                                        <div class="sidebar-widget-02">
                                            <h3 class="widget-title">Instructor</h3>

                                            <div class="widget-checkbox">
                                                <ul class="checkbox-list">
                                                    <li class="form-check">
                                                        <input class="form-check-input" id="checkbox6" type="checkbox"
                                                               value="">
                                                        <label class="form-check-label" for="checkbox6">Jimmy Jason
                                                            (11)</label>
                                                    </li>
                                                    <li class="form-check">
                                                        <input class="form-check-input" id="checkbox7" type="checkbox"
                                                               value="">
                                                        <label class="form-check-label" for="checkbox7">Harnold
                                                            (07)</label>
                                                    </li>
                                                    <li class="form-check">
                                                        <input class="form-check-input" id="checkbox8" type="checkbox"
                                                               value="">
                                                        <label class="form-check-label" for="checkbox8">Eric Madny
                                                            (11)</label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Sidebar Wrapper End -->
                                    </div>
                                    <div class="col-md-3">
                                        <!-- Sidebar Wrapper Start -->
                                        <div class="sidebar-widget-02">
                                            <h3 class="widget-title">Ratings</h3>

                                            <div class="widget-checkbox">
                                                <ul class="checkbox-list">
                                                    <li class="form-check">
                                                        <input class="form-check-input" id="checkbox9" type="checkbox"
                                                               value="">
                                                        <label class="form-check-label" for="checkbox9">
                                                            <div class="rating">
                                                                <div class="rating-on" style="width: 100%;"></div>
                                                            </div>
                                                            (4.5)
                                                        </label>
                                                    </li>
                                                    <li class="form-check">
                                                        <input class="form-check-input" id="checkbox10" type="checkbox"
                                                               value="">
                                                        <label class="form-check-label" for="checkbox10">
                                                            <div class="rating">
                                                                <div class="rating-on" style="width: 60%;"></div>
                                                            </div>
                                                            (3.5)
                                                        </label>
                                                    </li>
                                                    <li class="form-check">
                                                        <input class="form-check-input" id="checkbox11" type="checkbox"
                                                               value="">
                                                        <label class="form-check-label" for="checkbox11">
                                                            <div class="rating">
                                                                <div class="rating-on" style="width: 40%;"></div>
                                                            </div>
                                                            (2)
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Sidebar Wrapper End -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Course Collapse End -->

                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="grid">
                                <div class="row" th:each="classroom: ${classroomDtoList}">
                                    <div class="col-lg-4 col-sm-6">
                                        <!-- Single Courses Start -->
                                        <div class="single-course">
                                            <div class="courses-image">
                                                <a th:href="@{'/classroom/' + ${classroom.getId()}}"><img
                                                        alt="Courses" th:src="@{/images/courses/courses-1.jpg}"></a>
                                            </div>
                                            <div class="courses-content">
                                                <div class="top-meta">
                                                    <a class="tag" href="#">Beginner</a>
                                                    <span class="price">
                                                        <span class="sale-price">Free</span>
                                                        </span>
                                                </div>
                                                <h3 class="title" th:text="${classroom.getNameClass()}"><a href="course-details.html">Design 101: Product &
                                                    Web Design Course</a></h3>
                                                <p class="author-name" th:each="teacher: ${classroom.getTeachers()}" th:text="${teacher.getUserName()}">Andrew paker</p>
                                            </div>
                                            <div class="courses-meta">
                                                <p class="student" th:text="|${classroom.getQuanityStudent()} student(s)|"><i class="fa fa-user-o"></i> 10 Student</p>
                                                <div class="rating">
                                                    <div class="rating-star">
                                                        <div class="rating-active" style="width: 60%;"></div>
                                                    </div>
                                                    <span>(4.5)</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Courses End -->
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade " id="list">
                                <!-- Course List Start -->
                                <div class="course-list-items">

                                    <!-- Course List Start -->
                                    <div class="single-course-list">
                                        <div class="course-image">
                                            <a href="course-details.html"><img alt="Courses"
                                                                               th:src="@{/images/courses/courses-5.jpg}"></a>
                                        </div>
                                        <div class="course-content">
                                            <div class="top-meta">
                                                <a class="tag" href="#">Beginner</a>
                                                <span class="price">
                                                    <span class="sale-price">Free</span>
                                                    </span>
                                            </div>
                                            <h3 class="title"><a href="course-details.html">Design 101: Product & Web
                                                Design Course</a></h3>
                                            <span class="author-name">Andrew paker</span>

                                            <p>Managing a popular open source project can be daunting at first. How do
                                                we maintain all these issues, or automatically trigger</p>

                                            <div class="bottom-meta">
                                                <p class="meta-action"><i class="fa fa-clock-o"></i> Student</p>
                                                <p class="meta-action"><i class="fa fa-signal"></i> Student</p>
                                                <div class="rating">
                                                    <div class="rating-star">
                                                        <div class="rating-active" style="width: 60%;"></div>
                                                    </div>
                                                    <span>(4.5)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Course List End -->

                                    <!-- Course List Start -->
                                    <div class="single-course-list">
                                        <div class="course-image">
                                            <a href="course-details.html"><img alt="Courses"
                                                                               th:src="@{/images/courses/courses-6.jpg}"></a>
                                        </div>
                                        <div class="course-content">
                                            <div class="top-meta">
                                                <a class="tag" href="#">Beginner</a>
                                                <span class="price">
                                                    <span class="sale-price">Free</span>
                                                    </span>
                                            </div>
                                            <h3 class="title"><a href="course-details.html">Design 101: Product & Web
                                                Design Course</a></h3>
                                            <span class="author-name">Andrew paker</span>

                                            <p>Managing a popular open source project can be daunting at first. How do
                                                we maintain all these issues, or automatically trigger</p>

                                            <div class="bottom-meta">
                                                <p class="meta-action"><i class="fa fa-clock-o"></i> Student</p>
                                                <p class="meta-action"><i class="fa fa-signal"></i> Student</p>
                                                <div class="rating">
                                                    <div class="rating-star">
                                                        <div class="rating-active" style="width: 60%;"></div>
                                                    </div>
                                                    <span>(4.5)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Course List End -->

                                    <!-- Course List Start -->
                                    <div class="single-course-list">
                                        <div class="course-image">
                                            <a href="course-details.html"><img alt="Courses"
                                                                               th:src="@{/images/courses/courses-7.jpg}"></a>
                                        </div>
                                        <div class="course-content">
                                            <div class="top-meta">
                                                <a class="tag" href="#">Beginner</a>
                                                <span class="price">
                                                    <span class="sale-price">Free</span>
                                                    </span>
                                            </div>
                                            <h3 class="title"><a href="course-details.html">Design 101: Product & Web
                                                Design Course</a></h3>
                                            <span class="author-name">Andrew paker</span>

                                            <p>Managing a popular open source project can be daunting at first. How do
                                                we maintain all these issues, or automatically trigger</p>

                                            <div class="bottom-meta">
                                                <p class="meta-action"><i class="fa fa-clock-o"></i> Student</p>
                                                <p class="meta-action"><i class="fa fa-signal"></i> Student</p>
                                                <div class="rating">
                                                    <div class="rating-star">
                                                        <div class="rating-active" style="width: 60%;"></div>
                                                    </div>
                                                    <span>(4.5)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Course List End -->

                                </div>
                                <!-- Course List End -->
                            </div>
                        </div>

                        <!-- Page Pagination Start -->
                        <div th:if="${totalsPage > 0}" >
                            <div class="row col-sm-10 page-pagination">
                                <div class="pagination justify-content-center">
                                    <span th:each="i: ${#numbers.sequence(1, totalsPage)}">
                                        <a class="active" th:if="${currentPage != i}"  th:href="@{'/classroom/list?pageId=' + ${i}}" >[[${i}]]</a>
                                        <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Page Pagination End -->

                    </div>
                    <div class="col-lg-3">
                        <!-- Sidebar Wrapper Start -->
                        <div class="sidebar-wrap-02">

                            <!-- Sidebar Wrapper Start -->
                            <div class="sidebar-widget-02">
                                <h3 class="widget-title">Type of Courses</h3>

                                <div class="widget-checkbox">
                                    <ul class="checkbox-list">
                                        <li class="form-check">
                                            <input class="form-check-input" id="checkbox1" type="checkbox" value="">
                                            <label class="form-check-label" for="checkbox1">Free (11)</label>
                                        </li>
                                        <li class="form-check">
                                            <input class="form-check-input" id="checkbox2" type="checkbox" value="">
                                            <label class="form-check-label" for="checkbox2">Paid (11)</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Sidebar Wrapper End -->

                            <!-- Sidebar Wrapper Start -->
                            <div class="sidebar-widget-02">
                                <h3 class="widget-title">Categories</h3>

                                <div class="widget-checkbox">
                                    <ul class="checkbox-list">
                                        <li class="form-check">
                                            <input class="form-check-input" id="checkbox3" type="checkbox" value="">
                                            <label class="form-check-label" for="checkbox3">Technology (11)</label>
                                        </li>
                                        <li class="form-check">
                                            <input class="form-check-input" id="checkbox4" type="checkbox" value="">
                                            <label class="form-check-label" for="checkbox4">Business (07)</label>
                                        </li>
                                        <li class="form-check">
                                            <input class="form-check-input" id="checkbox5" type="checkbox" value="">
                                            <label class="form-check-label" for="checkbox5">Development (11)</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Sidebar Wrapper End -->

                            <!-- Sidebar Wrapper Start -->
                            <div class="sidebar-widget-02">
                                <h3 class="widget-title">Instructor</h3>

                                <div class="widget-checkbox">
                                    <ul class="checkbox-list">
                                        <li class="form-check">
                                            <input class="form-check-input" id="checkbox6" type="checkbox" value="">
                                            <label class="form-check-label" for="checkbox6">Jimmy Jason (11)</label>
                                        </li>
                                        <li class="form-check">
                                            <input class="form-check-input" id="checkbox7" type="checkbox" value="">
                                            <label class="form-check-label" for="checkbox7">Harnold (07)</label>
                                        </li>
                                        <li class="form-check">
                                            <input class="form-check-input" id="checkbox8" type="checkbox" value="">
                                            <label class="form-check-label" for="checkbox8">Eric Madny (11)</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Sidebar Wrapper End -->

                            <!-- Sidebar Wrapper Start -->
                            <div class="sidebar-widget-02">
                                <h3 class="widget-title">Ratings</h3>

                                <div class="widget-checkbox">
                                    <ul class="checkbox-list">
                                        <li class="form-check">
                                            <input class="form-check-input" id="checkbox9" type="checkbox" value="">
                                            <label class="form-check-label" for="checkbox9">
                                                <div class="rating">
                                                    <div class="rating-on" style="width: 100%;"></div>
                                                </div>
                                                (4.5)
                                            </label>
                                        </li>
                                        <li class="form-check">
                                            <input class="form-check-input" id="checkbox10" type="checkbox" value="">
                                            <label class="form-check-label" for="checkbox10">
                                                <div class="rating">
                                                    <div class="rating-on" style="width: 60%;"></div>
                                                </div>
                                                (3.5)
                                            </label>
                                        </li>
                                        <li class="form-check">
                                            <input class="form-check-input" id="checkbox11" type="checkbox" value="">
                                            <label class="form-check-label" for="checkbox11">
                                                <div class="rating">
                                                    <div class="rating-on" style="width: 40%;"></div>
                                                </div>
                                                (2)
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Sidebar Wrapper End -->

                            <!-- Sidebar Wrapper Start -->
                            <div class="sidebar-widget-02">
                                <h3 class="widget-title">Lavel</h3>

                                <div class="widget-checkbox">
                                    <ul class="checkbox-list">
                                        <li class="form-check">
                                            <input class="form-check-input" id="checkbox12" type="checkbox" value="">
                                            <label class="form-check-label" for="checkbox12">Beginner (11)</label>
                                        </li>
                                        <li class="form-check">
                                            <input class="form-check-input" id="checkbox13" type="checkbox" value="">
                                            <label class="form-check-label" for="checkbox13">Advanced (07)</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Sidebar Wrapper End -->

                        </div>
                        <!-- Sidebar Wrapper End -->
                    </div>
                </div>
            </div>
            <!-- Course List Wrapper End -->

        </div>
    </div>
    <!-- Course List End -->
</div>
</body>
</html>